<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="BbTeZdPwpo3YGbnXDUp7L8Pol41hi_38AAjNkplpLJA" />
    <meta property="og:image" content="https://artyeth06.github.io/assets/images/ogimage.png" />
    <!-- <meta property="og:image:width" content="1200" /> -->
    <!-- <meta property="og:image:height" content="630" /> -->
    <meta property="og:description" content="Welcome to my website! In here, you will find things about Capture The Flag (CTF) writeups, blogs and more!" />
    <meta name="description" content="Welcome to my website! In here, you will find things about Capture The Flag (CTF) writeups, blogs and more!">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          <a href="https://artyeth06.github.io/" class="btn btn-github">Home</a>
          <a href="https://artyeth06.github.io/about" class="btn btn-github">About Me</a>
          <a href="https://artyeth06.github.io/blog" class="btn btn-github">Blog</a>
          <a href="https://artyeth06.github.io/ctf" class="btn btn-github">Writeups</a>
          <a href="https://artyeth06.github.io/projects" class="btn btn-github">Projects</a>
          <a href="https://artyeth06.github.io/cheat-sheet" target="_blank" class="btn btn-github">E-Portfolio</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <!-- Badges -->
    <div class="badgeHeader">
      <div class="badgeContainer">
        <script src="https://tryhackme.com/badge/1093931"></script>
        <script src="https://www.hackthebox.com/badge/740372"></script>
      </div>
    </div>

  </body>
</html>
