<!DOCTYPE html>
<html lang="{{ site.lang | escape | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="BbTeZdPwpo3YGbnXDUp7L8Pol41hi_38AAjNkplpLJA" />
    <meta property="og:image" content="{{ page.ogImageUrl | url_escape | default: "https://siunam321.github.io/assets/images/ogimage.png" }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | escape | default: site.github.repository_name }}</h1>
        </a>
        <p class="site_description">{{ site.description | escape | default: site.github.project_tagline }}</p>

        <section id="downloads">
          <a href="https://siunam321.github.io/" class="btn btn-github">Home</a>
          <a href="https://siunam321.github.io/ctf/" class="btn btn-github">Writeups</a>
          <a href="https://siunam321.github.io/research/" class="btn btn-github">Research</a>
          <a href="https://siunam321.github.io/talks/" class="btn btn-github">Talks</a>
          <a href="https://siunam321.github.io/blog/" class="btn btn-github">Blog</a>
          <a href="https://siunam321.github.io/projects" class="btn btn-github">Projects</a>
          <a href="https://siunam321.github.io/about" class="btn btn-github">About</a>
          <!-- <a href="https://siunam321atcyberse.wixsite.com/tangcheukhei" target="_blank" class="btn btn-github">E-Portfolio</a> -->
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer></footer>
    <script>
      function openCollapsibleElement(linkHash) {
        if (linkHash === "") {
          return;
        }

        var hashElementId = linkHash.slice(1);
        if (hashElementId.startsWith("portswigger-labs-")) {
          hashElementId = "portswigger-labs";
        }

        const targetElement = document.getElementById(hashElementId);
        if (targetElement.tagName?.toLowerCase() === "details") {
          targetElement.open = true;
        }
      }

      const LINK_CONTENT = {
        "H1": "#",
        "H2": "#".repeat(2),
        "H3": "#".repeat(3),
        "H4": "#".repeat(4),
        "H5": "#".repeat(5),
        "H6": "#".repeat(6),
      };
      const headings = document.querySelectorAll('h1[id],h2[id],h3[id],h4[id],h5[id],h6[id]');
      for (const heading of headings) {
          const newSpanElement = document.createElement("span");
          
          // we don't want `<h1>` element to have a header link, as it's the title
          if (heading.tagName?.toLowerCase() === 'h1') {
            newSpanElement.textContent = LINK_CONTENT[heading.tagName];
            newSpanElement.setAttribute("class", "headerLink");
          } else {
            const newLinkElement = document.createElement("a");
            newLinkElement.setAttribute("href", `#${heading.id}`);
            newLinkElement.setAttribute("class", "headerLink");
            newLinkElement.textContent = LINK_CONTENT[heading.tagName];

            newSpanElement.appendChild(newLinkElement);
          }

          heading.insertAdjacentElement("afterbegin", newSpanElement);
      }

      // writeup page only
      if (window.location.pathname === "/ctf/" || document.title.split(" | ")[0] === "Writeups") {
        // toggle collapsible element when user clicks the link in the Table of Contents
        const tocLinkElements = toc.querySelectorAll('a');
        for (const tocLinkElement of tocLinkElements) {
          tocLinkElement.addEventListener('click', function(event) {
            openCollapsibleElement(tocLinkElement.hash);
          });
        }

        // append header links to all PortSwigger Labs lab topic
        const portswiggerLabsTableBodyRows = document.querySelector("section[id=portswigger-lab-table] table").tBodies[0].rows;
        for (const portswiggerLabsTableBodyRow of portswiggerLabsTableBodyRows) {
          const labTopicElement = portswiggerLabsTableBodyRow.cells[0];
          const labTitleElement = portswiggerLabsTableBodyRow.cells[1];
          const labTopicName = labTopicElement.textContent.trim();
          if (labTopicName === "") {
            continue;
          }

          const labTopicNameKebabCase = labTopicName.replaceAll(" ", "-").replaceAll("(", "").replaceAll(")", "").toLowerCase();
          const headingId = `portswigger-labs-${labTopicNameKebabCase}`;
          labTopicElement.setAttribute("id", headingId);
          
          if (labTopicElement !== portswiggerLabsTableBodyRows[0].cells[0]) {
            labTopicElement.setAttribute("style", "border-top: 1px dashed #f00;");
            labTitleElement.setAttribute("style", "border-top: 1px dashed #f00;");
          }

          const newLinkElement = document.createElement("a");
          newLinkElement.setAttribute("href", `#${headingId}`);
          newLinkElement.setAttribute("class", "headerLink");
          newLinkElement.textContent = LINK_CONTENT["H3"];
          labTopicElement.insertAdjacentElement("afterbegin", newLinkElement);
        }

        // toggle collapsible element when user directly access the hash
        document.addEventListener('DOMContentLoaded', function() {
          openCollapsibleElement(window.location.hash);
        });
      }
    </script>
  </body>
</html>
